@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Appuser> SignInManager;


    @if (SignInManager.IsSignedIn(User))
    {
        <li class="pr-3 hover:text-yellow-500">Welcome, @User.Identity.Name!</li>
    <li><a asp-controller="Account" asp-action="Logout"  class="hover:text-yellow-500">Logout</a></li>
    }
    else
    {
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login" class="hover:text-yellow-500">Login</a>
        </li>
    }

