@model layoutdesign.DTo.Login
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Accountlayout.cshtml";
}
<h1 class="mt-8 mb-4 text-center text-2xl font-bold">
    @ViewData["Title"]
</h1>

<div class="bg-white p-8 mx-auto max-w-md rounded-lg shadow-md">
    <h1 class="mb-4 text-center text-xl font-semibold">Login</h1>
    <form asp-action="Login" asp-controller="Account" method="post" class="space-y-0">
        <div class="pb-5 relative">
            <label asp-for="Email" class="text-gray-700 block text-sm font-medium">Email</label>
            <input asp-for="Email" class="input input-bordered w-full" placeholder="Enter your Email" />
            <span asp-validation-for="Email" class="text-red-500 bottom-0 left-0 pt-3 absolute text-xs"></span>
        </div>
        <div class="pb-5 relative">
            <label asp-for="Password" class="text-gray-700 block text-sm font-medium">Password</label>
            <input asp-for="Password" type="password" class="input input-bordered h-10 w-full" placeholder="Enter your Password" />
            <span asp-validation-for="Password" class="text-red-500 bottom-0 left-0 pt-3 absolute text-xs"></span>
        </div>
        <div class="relative" >
            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check">Remember Me</label>

        </div>

        <div class="mt-6 flex justify-center">
            <button type="submit" class="btn bg-black text-white w-full">Login</button>
        </div>
    </form>
    <div class="mt-4 text-center">
        <a asp-action="Register" asp-controller="Account" class="text-blue-500 text-sm hover:underline">
            Don't have an account? Register
        </a>
    </div>
</div>
